@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat&family=Yusei+Magic&display=swap');

body {
  background-image: url('./images/blue-milky-way-galaxy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h2,
h3 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 48px;
}

p {
  font-family: 'Caveat', cursive;
  font-size: xx-large;
}

.layout {
  padding: 7% 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.skeleton {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 350px;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 100px 90px #0ff;
}

.screen {
  background-color: #160f54;
  color: white;
  padding: 4% 3%;
}

button {
  background: none;
  padding: 15% 1%;
  border: solid 0.001mm white;
  font-weight: bold;
  cursor: pointer;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.orange {
  background-color: #252e88;
}

.gray {
  background-color: #3b86fd;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 3%;
  border-bottom: solid 0.5px gray;
  font-family: 'Yusei Magic', sans-serif;
  font-size: larger;
}

.navLink {
  display: flex;
  flex-direction: row;
  list-style: none;
  list-style-type: none;
}

.navItem a,
span {
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

.home {
  padding: 0 3%;
}

.quote {
  margin: 15% 20%;
}
