.skeleton {
  display: flex;
  flex-direction: column;
  margin: 5% 35%;
}

.screen {
  background-color: rgb(54, 53, 53);
  color: white;
  padding: 4% 3%;
}

button {
  background: none;
  padding: 15% 1%;
  border: solid 0.001mm rgb(94, 93, 93);
  font-weight: bold;
  cursor: pointer;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.orange {
  background-color: orangered;
}

.gray {
  background-color: gray;
}

#zero {
  grid-column-start: 1;
  grid-column-end: 3;
}
